extends ../../_layout/page

block variables
    - var title = 'DraggerDirection';
    - var pageName = 'components/dragger-direction';

block content

    h1 Dragger class which detects swipe direction

    p.lead
        a(href="https://antonbobrov.github.io/vevet/docs/classes/DraggerDirection.html") See the doc

    hr
    h2 Example
    include ./sample.pug
    hr
    pre.pug
        code!= readFile('./sample.pug', dir)
    pre.css
        code!= readFile('./sample.css', dir)
    pre.ts
        code!= readFile('./sample.ts', dir)
