.display {
    
    &-block {
        display: block;

        &_important {
            display: block !important;
        }

    }
    

    
    &-inline-block {
        display: inline-block;

        &_important {
            display: inline-block !important;
        }

    }
    


    &-inline {
        display: inline;

        &_important {
            display: inline !important;
        }

    }
    


    &-flex {
        display: flex;

        &_important {
            display: flex !important;
        }

        &_center {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

    }
    

    
    &-none {
        display: none;

        &_important {
            display: none !important;
        }

    }

}

@mixin display-flex-center() {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
