.#{$prefix}no-transition {

    *:not(.#{$prefix}preloader) {
        
        &:not(.#{$prefix}preloader__item) {
            &:not(.#{$prefix}has-transition) {
                &,
                &:before,
                &:after {
                    animation-delay: 0s !important;
                    animation-duration: 0s !important;
                    transition: 0s !important;
                }
            }            
        }

    }

}

@mixin transition($duration, $delay) {
    transition: #{$duration};
    transition-delay: #{$delay};
    transition-timing-function: $transition-timing-function;
}

@mixin transition-animation($duration, $delay) {
    animation-duration: #{$duration};
    animation-delay: #{$delay};
    animation-timing-function: $transition-timing-function;
}
