@import '../mixins/index';

.#{$prefix}smooth-scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__wrapper {
    &.#{$prefix}smooth-scroll_vertical {
      width: 100%;
      height: auto;
    }

    &.#{$prefix}smooth-scroll_horizontal {
      width: max-content;
      height: 100%;
    }
  }
}
