<head><base href="/vevet/"><link href="/vevet/assets/css/index.ad177cdb5b0c8c0780cc.css" rel="stylesheet"></head>
<div class="cursor-area" id="cursor-area"><span>Move the cursor here</span></div>
<style> .cursor-area {
    position: relative;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

</style><script defer src="/vevet/assets/js/index.02b4ff4a434acbb977c7.js"></script>