@import './settings';
@import '../../mixins/index';

.#{$prefix}menu {
    position: fixed;
    @include top-left();
    width: 100%;
    height: 100%;
    z-index: $menu-z;
    background: $menu-bg;
    opacity: 0;
    visibility: hidden;

    @include transition(opacity $menu-duration, $menu-delay);

    &_show {
        visibility: visible;
        opacity: 1;
    }

    &_hide {
        opacity: 0;
    }

}
