extends ../../../_layout/page

block variables
    - var title = 'Example of SmoothScroll';
    - var pageName = 'components-smooth-scroll';

block content
    
    .container

        h1 SmoothScroll

        hr
        h2 Example
        include ./sample.pug
        hr
        pre.ts
            code!= readFile('./sample.ts', dir)
