.v-smooth-scroll {
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #000;
}

.v-smooth-scroll.mini {
    height: 100px;
}

.v-smooth-scroll__container {
    padding: 20px;
}

.v-smooth-scroll p {
    margin: 0;
}
