.vscode
dist/
docs/
node_modules/
old/
public/
tests/
types/

/src/js/plugins/ScrollClampPlugin/
/src/js/plugins/SliderMovePlugin/
/src/js/ScrollClampPlugin.js
/src/js/SliderMovePlugin.js

package-lock.json