.vscode

docs/
jsdoc/
node_modules/
public/
src/
tests/
types/
webpack/

/dist/plugins/ScrollClampPlugin/
/dist/plugins/SliderMovePlugin/

.babelrc
.eslintrc.json
.gitignore
.sass-lint.yml
.npmignore
jsdoc.json
jsdoc.types.json
package-lock.json
README.md
tsconfig.json