<head><base href="/vevet/"><link href="/vevet/assets/css/index.b09f2b69580eb0b45845.css" rel="stylesheet"></head>
<div class="ctx2d-container" style="border: 2px solid #000; width: 200px; height: 200px;" id="ctx2d-container"></div>
<style>
   .ctx2d-container canvas { width: 100%; height: 100% }</style><br/>
<p><b>DPR: </b><i id="ctx2d-dpr"></i></p>
<p><b>Width: </b><i id="ctx2d-width"></i></p>
<p><b>Height: </b><i id="ctx2d-height"></i></p><script defer src="/vevet/assets/js/index.38db5f20e1587bacfeb2.js"></script>