<!DOCTYPE html>
<html lang="en" dir="ltr" data-page-name="components-progress-preloader">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Example of ProgressPreloader</title>
    <link rel="icon" type="image/png" href="/image/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/image/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/image/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/image/favicon-96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="/image/192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="description">
    <meta name="keywords">
    <meta property="og:site_name" content="Example of ProgressPreloader">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Example of ProgressPreloader">
    <meta property="og:description">
    <meta property="og:image" content="null">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Example of ProgressPreloader">
    <meta name="twitter:description">
    <meta name="twitter:image" content="null">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/darkula.css">
  <link href="/assets/css/index.css" rel="stylesheet"></head>
  <body>
    <div class="container">
      <h1>ProgressPreloader</h1>
      <p class="lead"><b>ProgressPreloader </b>is a page preloader that counts resources loaded.</p>
      <hr>
      <div class="v-preloader" id="v-preloader"><span>0%</span></div>
      <h2>The ProgressPreloader preloads the resources below.</h2>
      <div class="preload-resources">
        <video src="https://ak.picdn.net/shutterstock/videos/1044255715/preview/stock-footage-person-signing-important-document-camera-following-tip-of-the-pen-as-it-signs-crucial-business.webm" controls></video>
        <video src="https://ak.picdn.net/shutterstock/videos/1070510560/preview/stock-footage-a-wooden-tablet-full-of-carved-signs-in-etruscan-a-civilization-of-italy-in-ancient-times.webm" controls></video><img src="https://picsum.photos/1920/1920" alt="Preload this image"><img src="https://picsum.photos/1921/1921" alt="Preload this image"><img src="https://picsum.photos/1922/1922" alt="Preload this image"><img src="https://picsum.photos/1923/1923" alt="Preload this image"><img src="https://picsum.photos/1924/1924" alt="Preload this image"><img src="https://picsum.photos/1925/1925" alt="Preload this image"><img src="https://picsum.photos/1926/1926" alt="Preload this image"><img src="https://picsum.photos/1927/1927" alt="Preload this image">
      </div>
      <style> .v-preloader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.v-preloader span {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.preload-resources {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.preload-resources > * {
    display: block;
    width: 100px;
    height: 100px;
}
      </style>
      <hr>
      <pre class="pug"><code>#v-preloader.v-preloader
    span 0%

h2 The ProgressPreloader preloads the resources below.

.preload-resources
    video(
        src="https://ak.picdn.net/shutterstock/videos/1044255715/preview/stock-footage-person-signing-important-document-camera-following-tip-of-the-pen-as-it-signs-crucial-business.webm"
        controls
    )
    video(
        src="https://ak.picdn.net/shutterstock/videos/1070510560/preview/stock-footage-a-wooden-tablet-full-of-carved-signs-in-etruscan-a-civilization-of-italy-in-ancient-times.webm"
        controls
    )
    img(
        src="https://picsum.photos/1920/1920"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1921/1921"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1922/1922"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1923/1923"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1924/1924"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1925/1925"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1926/1926"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1927/1927"
        alt="Preload this image"
    )

style 
    != readFile('./sample.css', dir)</code></pre>
      <pre class="ts"><code>import * as Vevet from '../../../../../src/ts/index';

new Vevet.Application();

const container = document.querySelector<HTMLElement>('#v-preloader');
if (container) {
    const progressEl = container.querySelector('span')!;

    const preloader = new Vevet.ProgressPreloader({
        container: '#v-preloader',
    });
    preloader.addCallback('progress', (data) => {
        progressEl.innerHTML = `${(data.progress * 100).toFixed(0)}%`;
    });
}
</code></pre>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  <script defer src="/assets/js/index.js"></script></body>
</html>