.#{$prefix}cursor {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: $cursor-width;
    height: $cursor-height;
    border: $cursor-border;
    border-radius: $cursor-radius;

    pointer-events: none;

}
