extends ../../../_layout/page

block variables
    - var title = 'PageLoad Callbacks';
    - var pageName = 'app-events-page-load';

block content
    
    .container

        h1 PageLoad callbacks
        
        //- description
        p.lead
            | Callbacks, that are triggered when the page is loaded. 
        p Notice that the HTML and BODY elements may contain the class 
            b "v-loading" 
            | that is to be removed once the page is loaded.

        hr
        h2 Example
        include ./sample.pug
        pre.ts
            code!= readFile('./sample.ts', dir)