extends ../../_layout/page

block variables
    - var title = 'Ctx2DPrerender';
    - var pageName = 'components/ctx2d-prerender';

block content

    h1 Ctx2DPrerender

    p.lead
        a(href="https://antonbobrov.github.io/vevet/docs/classes/Ctx2DPrerender.html") See the doc
    
    //- description
    p.lead
        b Ctx2DPrerender is an extended version of Ctx2D that 
        | allows you to prerender media for the further use with reduced payloads.

    hr
    h2 Example
    include ./sample.pug
    hr
    pre.ts
        code!= readFile('./sample.ts', dir)
