@mixin reset-button() {
    background: transparent;
    border: 0;
    padding: 0;
}

@mixin reset-input() {
    background: transparent;
    border: 0;
    padding: 0;
}

@mixin reset-ul() {
    margin: 0;
    padding: 0;
    list-style: none;
}
