extends ../../_layout/page

block variables
    - var title = 'StaticTimeline';
    - var pageName = 'components/timeline-static';

block content

    h1 StaticTimeline

    p.lead
        a(href="https://antonbobrov.github.io/vevet/docs/classes/StaticTimeline.html") See the doc
    
    //- description
    p.lead
        b StaticTimeline 
        | is a way to manipulate with progress.

    hr
    h2 Example
    include ./sample.pug
    hr
    pre.pug
        code!= readFile('./sample.pug', dir)
    pre.css
        code!= readFile('./sample.css', dir)
    pre.ts
        code!= readFile('./sample.ts', dir)
