extends ../../_layout/page

block variables
    - var title = 'DraggerMove';
    - var pageName = 'components/dragger-move';

block content

    h1 Dragger class with 'move' events

    p.lead
        a(href="https://antonbobrov.github.io/vevet/docs/classes/DraggerMove.html") See the doc

    hr
    h2 Example
    include ./sample.pug
    hr
    pre.pug
        code!= readFile('./sample.pug', dir)
    pre.css
        code!= readFile('./sample.css', dir)
    pre.ts
        code!= readFile('./sample.ts', dir)
