extends ../../../_layout/page

block variables
    - var title = 'Example of ScrollView';
    - var pageName = 'components-scroll-view';

block content
    
    .container

        h1 ScrollView

        hr
        include ./sample.pug
        hr
        pre.pug
            code!= readFile('./sample.pug', dir)
        pre.css
            code!= readFile('./sample.css', dir)
        pre.ts
            code!= readFile('./sample.ts', dir)
