extends ../_layout/page

block variables
    - var title = 'Vevet Application';
    - var pageName = 'app/index';

block content

    h1 Vevet Application

    p.lead
        a(href="https://antonbobrov.github.io/vevet/docs/classesapplication.html") See the doc 
    
    //- description
    p.lead
        b Vevet Application 
        | is the necessary instance of the whole library. It should be initialized before any component is used.

    hr
    p The Application instance initializes the following instances by default:
    ul 
        li
            a(href="app/page-load") PageLoad
        li
            a(href="app/viewport") Viewport

    hr
    h2 An example of initialization
    pre
        code!= readFile('./sample.ts', dir)
