extends ../../_layout/page

block variables
    - var title = 'SmoothScroll';
    - var pageName = 'components/smooth-scroll';

block content

    h1 SmoothScroll

    p.lead
        a(href="https://antonbobrov.github.io/vevet/docs/classes/SmoothScroll.html") See the doc

    hr
    h2 Example
    include ./sample.pug
    hr
    pre.pug
        code!= readFile('./sample.pug', dir)
    pre.css
        code!= readFile('./sample.css', dir)
    pre.ts
        code!= readFile('./sample.ts', dir)
