extends ../../_layout/page

block variables
    - var title = 'Custom ScrollBar';
    - var pageName = 'components/scrollbar';

block content

    h1 ScrollBar

    p.lead
        a(href="https://antonbobrov.github.io/vevet/docs/classes/ScrollBar.html") See the doc

    hr
    include ./sample.pug
    hr
    pre.pug
        code!= readFile('./sample.pug', dir)
    pre.css
        code!= readFile('./sample.css', dir)
    pre.ts
        code!= readFile('./sample.ts', dir)
