@import './settings';
@import '../../mixins/index';

.#{$prefix}scroll {
    @include absolute(top-left, 12, 12);
    overflow: hidden;

    &__container {
        position: fixed;
        width: 100%;
    }

    &__el {
        position: relative;
    }

    &_dragging &__container {
        pointer-events: none !important;
    }



    &__scrollbar {
        position: absolute;
        z-index: 9;
        background: $scrollbar-bg;

        @include transition((opacity .35s, visibility .35s));
        
        &.hide {
            opacity: 0;
            visibility: hidden;
        }
        
        &.no-action {
            opacity: 0;
        }

        &.in-action {
            opacity: 1;
        }

        &.hover {
            opacity: 1;
        }

        &_y {
            top: $scrollbar-y-top;
            right: $scrollbar-y-right;
            bottom: $scrollbar-y-bottom;
            left: $scrollbar-y-left;
            width: $scrollbar-y-width;
            height: $scrollbar-y-height;

            .#{$prefix}scroll {

                &__bar {
                    width: $scrollbar-y-bar-width;
                    height: $scrollbar-y-bar-height;
                }

            }

        }

        &_x {
            top: $scrollbar-x-top;
            right: $scrollbar-x-right;
            bottom: $scrollbar-x-bottom;
            left: $scrollbar-x-left;
            width: $scrollbar-x-width;
            height: $scrollbar-x-height;

            .#{$prefix}scroll {

                &__bar {
                    width: $scrollbar-x-bar-width;
                    height: $scrollbar-x-bar-height;
                }

            }

        }

    }

    &__bar {
        position: relative;
        background: $scrollbar-bar-bg;
    }


    
}
