extends ../../_layout/page

block variables
    - var title = 'Viewport Callbacks';
    - var pageName = 'app/viewport';

block content

    h1 Viewport callbacks

    p.lead
        a(href="https://antonbobrov.github.io/vevet/docs/classes/Viewport.html") See the doc 

    hr
    h2 Example
    include ./sample.pug
    pre.ts
        code= readFile('./sample.ts', dir)