<head><base href="/vevet/"><link href="/vevet/assets/css/index.01011002552d3c8e8d0f.css" rel="stylesheet"></head>
<p><b>Previous frame time: </b><i id="animation-frame-prev-time">0</i></p>
<p><b>Target FPS: </b><i id="animation-frame-target-fps">0</i></p>
<p><b>Real FPS: </b><i id="animation-frame-real-fps">0</i></p>
<div>
  <button class="btn btn-success" type="button" id="animation-frame-play">Play</button>
  <button class="btn btn-danger" type="button" id="animation-frame-pause">Pause</button>
</div>
<hr/><script defer src="/vevet/assets/js/index.c48b19f3e896c09811bf.js"></script>