<head><base href="/vevet/"><link href="/vevet/assets/css/index.ad177cdb5b0c8c0780cc.css" rel="stylesheet"></head>
<div class="v-preloader" id="v-preloader"><span>0%</span></div>
<h2>The ProgressPreloader preloads the resources below.</h2>
<div class="preload-resources">
  <video src="https://ak.picdn.net/shutterstock/videos/1044255715/preview/stock-footage-person-signing-important-document-camera-following-tip-of-the-pen-as-it-signs-crucial-business.webm" controls="controls"></video>
  <video src="https://ak.picdn.net/shutterstock/videos/1070510560/preview/stock-footage-a-wooden-tablet-full-of-carved-signs-in-etruscan-a-civilization-of-italy-in-ancient-times.webm" controls="controls"></video><img src="https://picsum.photos/1920/1920" alt="Preload this image"/><img src="https://picsum.photos/1921/1921" alt="Preload this image"/><img src="https://picsum.photos/1922/1922" alt="Preload this image"/><img src="https://picsum.photos/1923/1923" alt="Preload this image"/><img src="https://picsum.photos/1924/1924" alt="Preload this image"/><img src="https://picsum.photos/1925/1925" alt="Preload this image"/><img src="https://picsum.photos/1926/1926" alt="Preload this image"/><img src="https://picsum.photos/1927/1927" alt="Preload this image"/>
</div>
<style> .v-preloader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.v-preloader span {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.preload-resources {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.preload-resources > * {
    display: block;
    width: 100px;
    height: 100px;
}
</style><script defer src="/vevet/assets/js/index.02b4ff4a434acbb977c7.js"></script>