extends ../../_layout/page

block variables
    - var title = 'ScrollView';
    - var pageName = 'components/scroll-view';

block content

    h1 ScrollView

    p.lead
        a(href="https://antonbobrov.github.io/vevet/docs/classes/ScrollView.html") See the doc

    hr
    include ./sample.pug
    hr
    pre.pug
        code!= readFile('./sample.pug', dir)
    pre.css
        code!= readFile('./sample.css', dir)
    pre.ts
        code!= readFile('./sample.ts', dir)
