<head><link href="/assets/css/index.css" rel="stylesheet"></head>
<div class="v-split-text" id="v-split-text">
   Lorem‐ipsum-dolor- sit - amet consectetur adipisicing elit. <br/>Recusandae totam-<br> ipsum unde -quaerat magni maiores voluptate quidem laboriosam repellendus libero dolore ut est perferendis dignissimos laborum, quis ad veniam?<br/>Incidunt?</div>
<style> .v-split-text {
    width: 500px;
    max-width: 100%;
    color: #fff;
}

.v-split-text__line {
    margin-top: 10px;
    background-color: #0d6efd;
}

.v-split-text__word {
    background-color: #5f25806d;
}

</style><script defer src="/assets/js/index.js"></script>