p
    b Previous frame time: 
    i#animation-frame-prev-time 0
p
    b Target FPS: 
    i#animation-frame-target-fps 0
p
    b Real FPS: 
    i#animation-frame-real-fps 0

div
    button(type="button").btn.btn-success#animation-frame-play Play
    button(type="button").btn.btn-danger#animation-frame-pause Pause

hr