extends ../../../_layout/page

block variables
    - var title = 'Example of SplitText';
    - var pageName = 'components-text-split';

block content
    
    .container

        h1 SplitText

        hr
        h2 Example
        include ./sample.pug
        hr
        pre.pug
            code!= readFile('./sample.pug', dir)
        pre.css
            code!= readFile('./sample.css', dir)
        pre.ts
            code!= readFile('./sample.ts', dir)
