//- #v-split-text.v-split-text 
//-     | Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
//-     br
//-     | Recusandae totam ipsum unde quaerat magni maiores voluptate quidem laboriosam repellendus libero dolore ut est perferendis dignissimos laborum, quis ad veniam? Incidunt?
#v-split-text.v-split-text 
    | Lorem‐ipsum-dolor- sit - amet consectetur adipisicing elit. 
    br
    | Recusandae totam-<br> ipsum unde -quaerat magni maiores voluptate quidem laboriosam repellendus libero dolore ut est perferendis dignissimos laborum, quis ad veniam?
    br
    | Incidunt?

style 
    = readFile('./sample.css', dir)