extends ../_layout/page

block variables
    - var title = 'Handlers';
    - var pageName = 'handlers/index';

block content

    h1 Vevet Handlers
    
    p The full list of Vevet handlers:
        ul 
            li
                a(href="handlers/wheel") Wheel