.dragger-area {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    text-align: center;
    user-select: none;
    font-size: 20px;
}