<!DOCTYPE html>
<html lang="en" dir="ltr" data-page-name="components-nested-timeline">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Example of nested timelines</title>
    <link rel="icon" type="image/png" href="/image/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/image/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/image/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/image/favicon-96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="/image/192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="description">
    <meta name="keywords">
    <meta property="og:site_name" content="Example of nested timelines">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Example of nested timelines">
    <meta property="og:description">
    <meta property="og:image" content="null">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Example of nested timelines">
    <meta name="twitter:description">
    <meta name="twitter:image" content="null">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/darkula.css">
  <link href="/assets/css/index.css" rel="stylesheet"></head>
  <body>
    <div class="container">
      <h1>Nested timelined</h1>
      <hr>
      <h2>Example</h2>
      <div>
        <input type="range" id="timeline-range" min="0" max="1" step="0.0001" value="0" style="width: 100%;">
      </div><br>
      <div class="btn-group">
        <button class="btn btn-success" type="button" id="timeline-play">play</button>
        <button class="btn btn-secondary" type="button" id="timeline-pause">pause</button>
        <button class="btn btn-primary" type="button" id="timeline-reverse">reverse</button>
      </div><br><br>
      <div class="nested-timeline">
        <div class="nested-timeline__item"></div>
        <div class="nested-timeline__item"></div>
        <div class="nested-timeline__item"></div>
        <div class="nested-timeline__item"></div>
        <div class="nested-timeline__item"></div>
      </div>
      <style> .nested-timeline {
    width: 100%;
}

.nested-timeline__item {
    width: 100%;
    height: 50px;
    background-color: #000;
    transform: scale(0);
}

.nested-timeline__item:nth-child(1) {
    background-color: #F7DBA7;
}
.nested-timeline__item:nth-child(2) {
    background-color: #F1AB86;
}
.nested-timeline__item:nth-child(3) {
    background-color: #C57B57;
}
.nested-timeline__item:nth-child(4) {
    background-color: #1E2D2F;
}
.nested-timeline__item:nth-child(5) {
    background-color: #041F1E;
}

      </style>
      <hr>
      <pre class="pug"><code>div
    input(
        type="range",
        id="timeline-range"
        min="0"
        max="1"
        step="0.0001"
        value="0"
        style="width: 100%;"
    )

br
.btn-group
    button(type="button").btn.btn-success#timeline-play play
    button(type="button").btn.btn-secondary#timeline-pause pause
    button(type="button").btn.btn-primary#timeline-reverse reverse
br
br

div.nested-timeline
    .nested-timeline__item
    .nested-timeline__item
    .nested-timeline__item
    .nested-timeline__item
    .nested-timeline__item

style 
    = readFile('./sample.css', dir)</code></pre>
      <pre class="css"><code>.nested-timeline {
    width: 100%;
}

.nested-timeline__item {
    width: 100%;
    height: 50px;
    background-color: #000;
    transform: scale(0);
}

.nested-timeline__item:nth-child(1) {
    background-color: #F7DBA7;
}
.nested-timeline__item:nth-child(2) {
    background-color: #F1AB86;
}
.nested-timeline__item:nth-child(3) {
    background-color: #C57B57;
}
.nested-timeline__item:nth-child(4) {
    background-color: #1E2D2F;
}
.nested-timeline__item:nth-child(5) {
    background-color: #041F1E;
}
</code></pre>
      <pre class="ts"><code>import { Easing } from 'easing-progress';
import * as Vevet from '../../../../../src/ts/index';

const app = new Vevet.Application();

// create main timeline
const timeline = new Vevet.Timeline({
    easing: Easing.easeInOutBounce,
    duration: 1500,
});

app.pageLoad.onLoaded(() => {
    timeline.play();
});

// create nested timelines
const elements = document.querySelectorAll<HTMLElement>('.nested-timeline__item');
elements.forEach((el, index) => {
    const scopeStart = (1 / elements.length) * index;
    const tm = new Vevet.StaticTimeline({
        nestedScope: [scopeStart, 1],
        easing: Easing.easeOutBack,
    });
    tm.addCallback('progress', (data) => {
        el.style.transform = `scale(${data.easing}, 1)`;
    });
    timeline.addNestedTimeline(tm);
});

// controls
const playButton = document.querySelector('#timeline-play');
if (playButton) {
    playButton.addEventListener('click', () => {
        timeline.play();
    });
}
const pauseButton = document.querySelector('#timeline-pause');
if (pauseButton) {
    pauseButton.addEventListener('click', () => {
        timeline.pause();
    });
}
const reverseButton = document.querySelector('#timeline-reverse');
if (reverseButton) {
    reverseButton.addEventListener('click', () => {
        timeline.reverse();
    });
}

// range control
const rangeInput = document.querySelector<HTMLInputElement>('#timeline-range');
if (rangeInput) {
    timeline.progress = parseFloat(rangeInput.value);
    rangeInput.addEventListener('input', () => {
        timeline.progress = parseFloat(rangeInput.value);
    });
    timeline.addCallback('progress', (data) => {
        rangeInput.value = data.progress.toString();
    });
}
</code></pre>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  <script defer src="/assets/js/index.js"></script></body>
</html>