@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;

  --gradient-brand-0: linear-gradient(
    0deg,
    rgb(13, 110, 253) 0%,
    rgb(140, 122, 230) 50%,
    rgb(0, 201, 177) 100%
  );
  --gradient-brand-90: linear-gradient(
    90deg,
    rgb(13, 110, 253) 0%,
    rgb(140, 122, 230) 50%,
    rgb(0, 201, 177) 100%
  );
  --gradient-brand-135: linear-gradient(
    135deg,
    rgb(13, 110, 253) 0%,
    rgb(140, 122, 230) 50%,
    rgb(0, 201, 177) 100%
  );
  --gradient-brand-radial: radial-gradient(
    rgb(140, 122, 230) 20%,
    rgb(13, 110, 253) 100%
  );

  --gradient-sunset: linear-gradient(
    165deg,
    rgb(255, 140, 80) 0%,
    rgb(255, 95, 88) 40%,
    rgb(255, 60, 140) 100%
  );
  --gradient-violet: linear-gradient(
    165deg,
    rgb(70, 30, 120) 0%,
    rgb(120, 45, 180) 40%,
    rgb(200, 60, 255) 100%
  );
  --gradient-green: linear-gradient(
    165deg,
    rgb(110, 200, 40) 0%,
    rgb(40, 160, 80) 40%,
    rgb(0, 100, 60) 100%
  );
  --gradient-amber: linear-gradient(
    165deg,
    rgb(255, 200, 60) 0%,
    rgb(255, 150, 40) 40%,
    rgb(220, 60, 40) 100%
  );
  --gradient-sky: linear-gradient(
    165deg,
    rgb(150, 220, 255) 0%,
    rgb(80, 200, 255) 40%,
    rgb(0, 170, 200) 100%
  );
  --gradient-peach: linear-gradient(
    35deg,
    rgb(255, 127, 135) 0%,
    rgb(244, 214, 157) 100%
  );

  --gradient-slide-1: linear-gradient(
    35deg,
    rgb(163, 60, 69) 0%,
    rgb(215, 136, 142) 100%
  );
  --gradient-slide-2: linear-gradient(
    35deg,
    rgb(149, 112, 112) 0%,
    rgb(194, 167, 167) 100%
  );
  --gradient-slide-3: linear-gradient(
    35deg,
    rgb(231, 168, 115) 0%,
    rgb(247, 198, 164) 100%
  );
  --gradient-slide-4: linear-gradient(
    35deg,
    rgb(255, 139, 148) 0%,
    rgb(255, 201, 205) 100%
  );
  --gradient-slide-5: linear-gradient(
    35deg,
    rgb(172, 162, 92) 0%,
    rgb(214, 208, 156) 100%
  );
  --gradient-slide-6: linear-gradient(
    35deg,
    rgb(101, 75, 75) 0%,
    rgb(154, 127, 127) 100%
  );
  --gradient-slide-7: linear-gradient(
    35deg,
    rgb(97, 120, 59) 0%,
    rgb(149, 171, 106) 100%
  );
}

body {
  margin: 0;
  padding: 0;

  background: rgb(30, 43, 82);
  color: #fff;
}

.fullpage-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  min-height: 100vh;
  padding: 1rem 0;
  overflow: hidden;
}

.double-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 20rem;
  max-width: 90%;
}

.btn {
  border: 0;
  padding: 0 1rem;
  height: 2rem;

  cursor: pointer;

  background: var(--gradient-brand-135);
  background-size: 200% auto;
  box-shadow: 0 4px 20px rgba(13, 110, 253, 0.1);
  border-radius: 50vw;

  font: inherit;
  font-size: 0.75rem;
  color: currentColor;
}

img {
  display: block;
  background-color: #000;
}
