@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 20px;

  background: rgb(30, 43, 82);
  color: #fff;

  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.fullpage-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  min-height: 100vh;
}
