extends ../../../_layout/page

block variables
    - var title = 'Example of Preloader';
    - var pageName = 'components-preloader';

block content
    
    .container

        h1 Preloader
        
        //- description
        p.lead
            b Preloader 
            | is a splash container that is used to hide the main contents until the page is fully loaded.
        p Reload this page and notice the black container above the main contents which is hidden 
            | once the pag is loaded.

        hr
        include ./sample.pug
        pre.pug
            code!= readFile('./sample.pug', dir)
        pre.ts
            code!= readFile('./sample.ts', dir)
