<!DOCTYPE html>
<html lang="en" dir="ltr" data-page-name="components-cursor-CustomCursor">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Example of CustomCursor</title>
    <link rel="icon" type="image/png" href="/image/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/image/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/image/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/image/favicon-96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="/image/192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="description">
    <meta name="keywords">
    <meta property="og:site_name" content="Example of CustomCursor">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Example of CustomCursor">
    <meta property="og:description">
    <meta property="og:image" content="null">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Example of CustomCursor">
    <meta name="twitter:description">
    <meta name="twitter:image" content="null">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/darkula.css">
  <link href="/assets/css/index.css" rel="stylesheet"></head>
  <body>
    <div class="container">
      <h1>Create a custom smooth cursor</h1>
      <hr>
      <h2>Example</h2>
      <div class="cursor-area" id="cursor-area"><span>Move the cursor here</span></div>
      <style> .cursor-area {
    position: relative;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

      </style>
      <hr>
      <pre class="pug"><code>#cursor-area.cursor-area
    span Move the cursor here

style 
    = readFile('./sample.css', dir)</code></pre>
      <pre class="css"><code>.cursor-area {
    position: relative;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
</code></pre>
      <pre class="ts"><code>import * as Vevet from '../../../../../src/ts/index';

new Vevet.Application();

new Vevet.CustomCursor({
    container: '#cursor-area',
    render: {
        lerpToFixed: 2,
    },
    hideNativeCursor: true,
});
</code></pre>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  <script defer src="/assets/js/index.js"></script></body>
</html>