<head><base href="/vevet/"><link href="/vevet/assets/css/index.b09f2b69580eb0b45845.css" rel="stylesheet"></head>
<div class="dragger-area" id="dragger-area"><span>Drag/Swipe me</span></div>
<style> .dragger-area {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    text-align: center;
    user-select: none;
    font-size: 20px;
}
</style><script defer src="/vevet/assets/js/index.38db5f20e1587bacfeb2.js"></script>