@import './settings';

.#{$prefix}form {

    &__input {
        width: 100%;
        margin: $form-input-margin;

        input,
        textarea,
        select {
            display: block;
            width: 100%;
            font-size: $form-input-font-size;
            color: $form-input-color; 
            padding: $form-input-padding;
            background: $form-input-bg;
            border: $form-input-border;

            &.error {
                border-color: $form-error-border-color;
            }

        }

        textarea {
            height: $form-textarea-height;
            resize: none;
        }

    }

    &__error {
        color: $form-error-color;

        &:not(.show) {
            display: none;
        }

    }

    &__errors {
        background: $form-errors-bg;
        border: $form-errors-border;
        color: $form-errors-color;

        &:not(.show) {
            display: none;
        }

    }

    *:disabled {
        opacity: $form-disabled-opacity;
    }

}
