div#timeline-visualizer.timeline-visualizer
    div#timeline-visualizer-thumb.timeline-visualizer-thumb

br
.btn-group
    button(type="button").btn.btn-success#timeline-play play
    button(type="button").btn.btn-secondary#timeline-pause pause
    button(type="button").btn.btn-primary#timeline-reverse reverse

style 
    = readFile('./sample.css', dir)