extends ../../../_layout/page

block variables
    - var title = 'Example of CustomCursor';
    - var pageName = 'components-cursor-CustomCursor';

block content
    
    .container

        h1 Create a custom smooth cursor

        hr
        h2 Example
        include ./sample.pug
        hr
        pre.pug
            code!= readFile('./sample.pug', dir)
        pre.css
            code!= readFile('./sample.css', dir)
        pre.ts
            code!= readFile('./sample.ts', dir)
