extends ../../_layout/page

block variables
    - var title = 'Nested timelines';
    - var pageName = 'components/timeline-nested';

block content

    h1 Nested timelines

    hr
    h2 Example
    include ./sample.pug
    hr
    pre.pug
        code!= readFile('./sample.pug', dir)
    pre.css
        code!= readFile('./sample.css', dir)
    pre.ts
        code!= readFile('./sample.ts', dir)
