<head><base href="/vevet/"><link href="/vevet/assets/css/index.ad177cdb5b0c8c0780cc.css" rel="stylesheet"></head>
<div class="ctx2d-container" style="border: 2px solid #000; width: 200px; height: 200px;" id="ctx2d-container"></div>
<style>
   .ctx2d-container canvas { width: 100%; height: 100% }</style>
<p>Change position rule</p>
<div class="btn-group">
  <button class="btn btn-primary js-ctx2d-prerender-pos" type="button" data-pos-rule="cover">cover</button>
  <button class="btn btn-primary js-ctx2d-prerender-pos" type="button" data-pos-rule="contain">contain</button>
</div>
<div class="btn-group">
  <button class="btn btn-primary js-ctx2d-prerender-pos" type="button" data-pos-rule="top-left">top-left</button>
  <button class="btn btn-primary js-ctx2d-prerender-pos" type="button" data-pos-rule="top-right">top-right</button>
</div>
<div class="btn-group">
  <button class="btn btn-primary js-ctx2d-prerender-pos" type="button" data-pos-rule="bottom-left">bottom-left</button>
  <button class="btn btn-primary js-ctx2d-prerender-pos" type="button" data-pos-rule="bottom-right">bottom-right</button>
</div>
<div class="btn-group">
  <button class="btn btn-primary js-ctx2d-prerender-pos" type="button" data-pos-rule="center">center</button>
</div><script defer src="/vevet/assets/js/index.02b4ff4a434acbb977c7.js"></script>